.feature_scenario
  .feature_scenario_name{:title => "Scenario: #{scenario.name}"}
    = scenario.name
  %a{:href => '#', :class => 'btn_anchor btn_primary', :title => 'Execute this scenario'} Run Scenario