.root_form
  %form(id='root_dir_form' action='/root_dir' method='POST')
    %label(for='root_dir')
      Root Directory:
    %input(type='text' name='root_dir' value=@root_dir)
    %input(type='submit' class='btn_anchor btn_primary' value='Submit')
    - if session[:dne]
      %img{:src => '/images/sign_warning.png'}