.root_form
  - if @dne
    .error_notification
      We were unable to clone this repo...Please try again
  %form(id='repo_form' action='/repo' method='POST')
    %label(for='repo')
      Git Repository:
    %input(type='text' name='repo' id='repo_text')
    %input(type='submit' class='btn_anchor btn_primary' value='Submit' id='repo_submit')